h1{
    color: var(--noir);
    text-align: center;
    font-size: var(--titre);
    font-family: Galindo;
    text-transform: uppercase;

    
}

h2{
   font-size: var(--titre-2); 
   font-family: Galindo;
   text-transform: uppercase;
   color: var(--blanc);
   background-color: var(--orange);
   padding: 60px;
   width: 100vw;
   text-align: center;
   margin: 0;
  

}

h3{
    font-size: var(--intertitre);
    font-family: Andika New Basic;
    text-transform: uppercase;
    color: var(--noir);

}

p{
    font-family: Mulish;
    font-size: var(--texte);
    font-style: normal;
    color: var(--noir);
    text-align: left;

}

.legende{
    font-family: Mulish;
    font-size: 10px;
    font-style: normal;
    color: var(--orange);
    text-align: center;
    font-weight: 400;
}

body{
    box-sizing: border-box;
}