:root{
    /* Color styles */
--noir: rgba(0, 0, 0, 1);
--orange: rgba(208, 136, 79, 1);
--blanc: rgba(255, 255, 255, 1);

/* Text-size styles */
--button: 10px;
--titre: 40px;
--intertitre: 16px;
--texte: 14px;
--titre-2: 24px;

}