.accueil__titre{
    color: var(--noir);
text-align: center;
font-family: "Galindo";
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 64px */
letter-spacing: 4px;
text-transform: uppercase;
}

.accueil__intro{
    color: var(--noir);
text-align: center;
font-family: "Mulish";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 22.4px */
letter-spacing: 1.4px;
text-transform: uppercase;
font-weight: 500;
padding: 8px;
margin-bottom: 5px;
text-decoration: none;

}
cite{
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: initial;
    font-size: medium; 
}


.accueil__img1{
    width: 175px;
height: 246px;
flex-shrink: 0;
display: block;
margin-left: auto;
margin-right: auto;
}

.accueil__texte{
padding: 18px;
overflow: auto;
display: flex;
align-items: flex-start;
}

.accueil__img{
    width: 127px;
    height: 178px;
    flex-shrink: 0;
    border-radius: 30px;
    float: left;
    vertical-align: top;
    padding: 18px;
}

.accueil__img__droite{
    float: right;
}

