.clear{
    display: flex;
    gap: 30px;
    margin-bottom: 3rem;
}

.clear-right {
    justify-content: flex-end;
}
.AP__img {
    width: 100px;
}

.AP__title-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-decoration: none;
    color: var(--noir);

}

.AP__title-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-decoration: none;
    color: var(--noir);
}

.AP__nom{
    color: var(--noir);

text-align: center;
font-family: "Mulish";
font-size: var(--legende);
font-style: normal;
font-weight: 700;
line-height: 160%; /* 16px */
letter-spacing: 1px;
text-transform: uppercase;
}

.AP__intertitre{
    text-decoration: underline;
    color: var(--noir);

}


