.apropos__texte{
    color: var(--blanc);
}

.apropos__titre{
    margin-bottom: 30px;
}

.apropos__intertitre{
    margin-bottom: 30px;
    line-height: 160%; /* 25.6px */
    letter-spacing: 1.6px;
}