.publié{
    color: #000;
    text-align: center;
    font-size: var(--legende);
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 5px;
}

.article__img{
    width: 262px;
    height: 321px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 0px;
}

.intertitre{
    text-align: center;
    margin-top: 5px;
}

.film__img{
    width: 262px;
    height: 321px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 0px;
}

.film__intertitre{
    text-align: center;
    text-decoration: underline;
    margin-top: 0px;
    color: var(--noir);
}

.film__texte{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.liens-film{
    color: var(--noir);
}
