.publié{
    color: #000;
    text-align: center;
    font-size: var(--legende);
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 5px;
    margin-top: 0px;
    font-family: "andika new basic";
}

.article__img{
    width: 262px;
    height: 321px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 0px;
}

.intertitre{
    text-align: center;
    margin-top: 5px;
}

.film__img{
    width: 262px;
    height: 321px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 0px;
}

.film__intertitre{
    text-align: center;
    text-decoration: underline;
    margin-top: 0px;
    color: var(--noir);
}

.film__texte{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.liens-film{
    color: var(--noir);
}

.img__musique2{
    width: 312px;
    height: 208px;
    flex-shrink: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 0px;
}
.img__auteur{
    width: 327px;
height: 222px;
flex-shrink: 0;
display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 0px;
}

.replique__img1{
    width: 328px;
    height: 154px;
    flex-shrink: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 0px;
}

.replique__img2{
    width: 321px;
    height: 221px;
    flex-shrink: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 0px;
}

.video{
    display: block;
    margin-left: auto;
    margin-right: auto; 
}