.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--orange);
    z-index: 2;
  }

.header_menuBtn {
    position: absolute;
    top: 24px;
    right: 24px;
  }
.noscroll,
.noscroll body {
    overflow: hidden;
  }

.logo-menu{
    width: 105px;
    height: 48px;
    flex-shrink: 0;
    padding: 16px;
      
} 

.menu-list {
  background-color: var(--orange);
  padding: 0px;
  margin-top: 100px;
  padding-left: 60px;
}

.menu-list li {
    margin: 40px 0;
    color: var(--blanc);
}

.menu-list li a {
  color: var(--blanc) ;
}

.menu_texte{
    color: var(--blanc);
    font-family: "Times New Roman";
    font-size: var(--titre-2);
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 30.8px */
    font-variant: small-caps;
    text-align: center;
    width: 247px;
    height: 40px;
    margin-bottom: 52px;
    text-decoration: none;
    margin-left: 0px;
    
}

.menu_fr-en{
  color: var(--blanc);
  font-family: "Times New Roman";
  font-size: var(--titre-2);
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 30.8px */
  font-variant: small-caps;
  text-align: center;
  width: 247px;
  height: 40px;
  text-decoration: none;
  position: absolute;
  text-align: center;
  bottom: 0px;
  left: 70px;
}